{% extends "login/header.html" %}

{% block content %}
	<form action="/login/" method="POST">
		{% csrf_token %}
		<h1 class="h3 mb-3 font-weight-normal"><b>Please sign in</b></h1><br>
	    <select class="form-control" name="option">
			<option value="Teacher">Teacher</option>
			<option value="Student">Student</option>
	    </select>
		<label for="inputEmail" class="sr-only">Email address</label>
		<input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" name="password" class="form-control" placeholder="Password" required><br>
		<button class="btn btn-lg btn-primary btn-block">Sign In</button>
	</form>
	{% if error %}
		<h4 style="color: red;">{{error}}</h4>
	{% endif %}
{% endblock %}